body{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Open Sans', Poppins, Arial;
}
h2{
    font-family: 'Poppins', Open Sans, Arial;
}
.section1{
    background-image: url(bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(240, 250, 255);
    height: 650px;
}
.logo{
    width: 190px;
    height: 30px;
    margin-left: 90px;
    margin-top: 35px;
}
.logo-button{
    display: flex;
    flex-direction: row;
    
}
.button1{
    margin-right: 30px;
    margin-left: 860px;
    margin-top: 35px;
    margin-bottom: 60px;
   
}

.try-it-free{
    height: 40px;
    width: 170px;
    border-radius: 40px;
    background-color: white;
    font-size: small;
    font-weight: bolder;
    border-style: none;
    box-shadow: 0px 0px 2.2px 2.2px #dadada;
}
.mock-ups{
    height: 450px;
    width: 600px;
    margin-left: 60px;
}
.mockups-build{
    display: flex;
    flex-direction: row;

}
.tag1{
    display: inline-block;
    width: 450px;
    margin-left: 90px;
    margin-top: 70px;
    font-size: x-large;
    line-height: 45px;
    
}
.pg1{
    width: 530px;
    margin-left: 90px;
    margin-right: 50px;
    font-size: large;
}
.button2{
    margin-left: 90px;
    height: 40px;
    width: 300px;
    margin-top: 30px;
}
.get-started{
    width: 250px;
    height: 55px;
    border-radius: 40px;
    border-style: hidden;
    background-color: hsl(322, 100%, 66%);
    font-size: large;
    color: white;
}

.section2{
    border-style: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0px 0px 5px 5px #f5f1f1;
    border-radius: 20px;
    margin: 150px 100px 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.tag2{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 100px;
    margin-left: 105px;
    flex-wrap: wrap;
}
.grow{
    display: inline-block;
    width: 50% ;
    font-size: large;
    margin-bottom: 0;
}
.grow-img{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 120px;
}
.pg2{
    width: 490px;
    margin-top: 1px;
    font-size: large;
    color: grey;
}
.section3{
    border-style: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0px 0px 5px 5px #f5f1f1;
    border-radius: 20px;
    margin: 35px 100px 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.flowing-img{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 90px;
}
.tag3{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 100px;
    margin-left: 120px;
}
.flowing{
    display: inline-block;
    width: 80% ;
    font-size: large;
    margin-bottom: 0;
}
.pg3{
    width: 500px;
    margin-top: 1px;
    font-size: large;
    color: grey;
}
.section4{
    border-style: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0px 0px 5px 5px #f5f1f1;
    border-radius: 20px;
    margin: 35px 100px 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.headtag4{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 100px;
    margin-left: 105px;
    flex-wrap: wrap;
}
.your{
    display: inline-block;
    width: 50% ;
    font-size: larger;
}
.your-img{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 130px;
}
.pg4{
    width: 480px;
    margin-top: 1px;
    font-size: large;
    color: grey;
}
.section5{
    border-style: none;
    border-right: none;
    border-bottom: none;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #dadada;
    background-color: white;
    position: absolute;
    height: 240px;
    width: 700px;
    margin-top: -150px;
    margin-left: 330px;

}
.ready{
    font-size: larger;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}
#get-started{
    width: 340px;
    height: 70px;
    margin-left: 91px;
}
.section6{
    border-style: hidden;
    background-color: rgb(6, 27, 31);
    height: 460px;
    color: white;
    padding-top: 150px;
}
.logo2{
    display: block;
    color: white;
    height: 34px;
    width: 205px;
    filter: grayscale(100%) brightness(1000%);
    margin-bottom: 30px;
   
}
.footer1{
    /* display: flex; */
    margin-left: 130px;
    margin-top: 50px;
}
.sub2{
    display: flex;
}
.sub3{
    display: flex;
}
/* .subfooter2{
    display: inline-block;
}
.icon1{
    display: flex;
}
.icon2{
    display: flex;
}
.icon3{
    display: flex;
} */
.location{
    height: 19px;
    width: 12px;
    margin-top: 20px;
    margin-right: 23px;
   
}
.phone{
    height: 16px;
    width: 16px;
    margin-top: 20px;
    margin-right: 23px;
}
.email{
    height: 16px;
    width: 17px;
    margin-top: 20px;
    margin-right: 23px;

}

.lorem{
    display: flex;
}
.pg5{
    width: 380px;
    color: rgb(202, 199, 199);
}

.footer2{
    display: flex;
}
.about{
    margin-left: 138px;
    color: rgb(202, 199, 199);
}
.career{
    margin-left: 100px;
    color: rgb(202, 199, 199);
}
.us{
    margin-left: 6px;
}
.social{
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}
.fb{
    height: 40px;
    width: 40px;
   
}
.twitter{
    height: 40px;
    width: 40px; 
}
.ig{
    height: 40px;
    width: 40px;
   
}
.what{
    margin-left: 138px;
    color: rgb(202, 199, 199);
}
.blog{
    margin-left: 100px;
    color: rgb(202, 199, 199);
}
.faq{
    margin-left: 390px;
    color: rgb(202, 199, 199);
}
.contact{
    margin-left: 157px;
    color: rgb(202, 199, 199);
}
.copyright{
    margin-top: 40px;
    margin-left: 72%;
    font-size: smaller;
    color: rgb(202, 199, 199);
}
.number{
    color: rgb(202, 199, 199);
}
#mail{
    color: rgb(202, 199, 199);
}
.get-started:hover{
    text-decoration: none;
    background-color: rgb(245, 139, 192);
    cursor: pointer;
}
.try-it-free:hover{
    color: rgb(150, 150, 150);
    cursor: pointer;
}
.about:hover{
    text-decoration: underline;
    cursor: pointer;
}
.what:hover{
    text-decoration: underline;
    cursor: pointer;
}
.blog:hover{
    text-decoration: underline;
    cursor: pointer;
}
.faq:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contact:hover{
    text-decoration: underline;
    cursor: pointer;
}
.career:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fb:hover{
    color: hotpink;
    cursor: pointer;
}
.ig:hover{
    color: hotpink;
    cursor: pointer;
}
.twitter:hover{
    background-color: hotpink;
    color: hotpink;
    cursor: pointer;
}
@media screen and (max-width:375px) {
    .section1{
        background-image: url(bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-color: rgb(240, 250, 255);
        height: 700px;
    }
    .button1{
        /* margin-right: 30px; */
        margin-left: 105px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .logo{
        width: 90px;
        height: 20px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .try-it-free{
        height: 24px;
        width: 95px;
        border-radius: 40px;
        background-color: white;
        font-size: x-small;
        font-weight: bolder;
        border-style: none;
        box-shadow: 0px 0px 2.2px 2.2px #dadada;
    }
    .tag1{
        width: 250px;
        text-align: center;
        margin-left: 40px;
        margin-top: 20px;
        font-size: smaller;
        line-height: 30px;
    } 
    .pg1{
        width: 237px;
        text-align: center;
        margin-left: 40px;
        font-size: small;
    }
    .button2{
        margin-left: 62px;
        height: 40px;
        width: 300px;
        margin-top: 30px;
    }
    .get-started{
        width: 190px;
        height: 40px;
        border-radius: 40px;
        border-style: hidden;
        background-color: hsl(322, 100%, 66%);
        font-size: x-small;
        color: white;
    }
    .mockups-build{
        display: flex;
        flex-direction: column;
    }
    .mock-ups{
        margin-top: 50px;
        height: 220px;
        width: 260px;
        margin-left: 35px;
    }
}